:root {
  --top-heading: hsl(276, 100%, 81%);
  --clr-chat-left: hsl(276, 55%, 52%);
  --clr-chat-right: hsl(271, 15%, 43%);
  --placeholder-text: hsl(206, 6%, 79%);
  --main-heading: hsl(271, 36%, 24%);
  --clr-text-body: hsl(270, 7%, 64%);
  --pink: hsl(293, 100%, 63%);
  --purple: hsl(264, 100%, 61%);
  --white: hsl(0, 0%, 100%);
  --clr-bg-app: hsl(270, 20%, 96%);
  --btn-bg: hsl(271, 36%, 24%);
  --btn-radio-outline: hsl(289, 100%, 72%);
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  max-width: 100%;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: "Rubik", sans-serif;
  background-color: var(--clr-bg-app);
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* utility class */

.grid {
  display: grid;
}

.flex {
  display: flex;
}

.f-end {
  justify-content: flex-end;
}

.gradient-light-dark {
  background-image: linear-gradient(to right, var(--pink), var(--purple));
}

.gradient-dark-light {
  background-image: linear-gradient(to right, var(--purple), var(--pink));
}

/* typography */

.phone__nav--title {
  color: var(--white);
}
.phone__nav--text {
  color: var(--top-heading);
}

.section__text {
  text-align: center;
  color: var(--main-heading);
}

.section__title {
  font-size: 2.2rem;
  font-weight: 500;
  letter-spacing: 1px;
  margin-block: 0.5em;
}

.section__main-text {
  padding-inline: 2em;
  color: var(--clr-text-body);
}

/* css */

.wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  background-color: var(--clr-bg-app);
}

/* css phone screen */

.phone__wrapper {
  margin-block: 2em;
  padding: 0.5em;
  width: 14rem;
  border-radius: 2rem;
  box-shadow: 0px 0px 0px 8px white inset,
    0px 0px 20px 10px hsl(0, 0%, 31%, 0.1);
}

.phone__nav {
  position: relative;
  display: flex;
  padding: 1.8em 1.5em 1em;
  font-size: 0.625rem;
  border-radius: 1.5rem 1.5rem 0.3em 0.3em;
  align-items: center;
}

.phone__nav--photo {
  margin-inline: 0.5em;
  aspect-ratio: 1;
  width: 1.5rem;
  border-radius: 50%;
  border: solid var(--white) 1px;
}

.phone__chat-wrapper {
  display: grid;
  gap: 1.2em;
  background-color: var(--clr-bg-app);
  font-size: 0.5rem;
  width: 100%;
  border-radius: 0 0 2rem 2rem;
}

.phone__nav::before {
  content: "";
  position: absolute;
  inset: 0 0 0 26%;
  height: 10px;
  width: 100px;
  background-color: var(--white);
  border-radius: 0 0 2rem 2rem;
}

.phone__nav--text {
  padding: 0;
  margin: -2px 0 0 0;
  font-size: 0.5rem;
}

.f-end {
  justify-content: flex-end;
}

.chat-left,
.chat-right {
  margin: 0 1em;
  padding: 0.725em;
  width: auto;
  max-width: 20ch;
  border-radius: 0.4rem;
  box-shadow: 0px 2px 10px hsla(0, 0%, 31%, 0.1);
}

.chat-left {
  background-color: hsl(277, 84%, 93%);
  color: var(--clr-chat-left);
}

.chat-left:first-of-type {
  margin-top: 1.2em;
}

.chat-right {
  text-align: right;
  justify-self: end;
  background-color: hsl(277, 100%, 97%);
}

.dog-img {
  justify-items: flex-end;
  margin-right: 0.8em;
  aspect-ratio: 1;
  width: 2.5rem;
  border-radius: 0.5em;
  box-shadow: 0px 2px 10px hsla(0, 0%, 31%, 0.1);
}

.chat__walk-option {
  margin-left: 1em;
  padding: 0.825em;
  align-items: center;
  background-color: pink;
  color: var(--white);
  width: 30ch;
  border-radius: 1.3em 1.3em 1.3em 0.2em;
}

input[type="radio"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  /* Remove most all native input styles */
  appearance: none;
  /* For iOS < 15 */
  background-color: var(--form-background);
  /* Not removed via appearance */
  margin: 0 0.625em 0 0;
  font: inherit;
  color: currentColor;
  width: 1.325em;
  height: 1.325em;
  border: 0.1em solid currentColor;
  border-radius: 50%;
  transform: translateX(-0.1em);
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}

.label {
  margin-right: auto;
  font-size: 0.5rem;
  color: hsl(277, 84%, 93%);
}

.price {
  font-size: 0.825rem;
  font-weight: 700;
}

.chat__message-input {
  margin: 1em;
  padding: 1.5em;
  background-color: var(--white);
  border-radius: 100vh;
}
